name: todo-infra-PR-CI

# Controls when the workflow will run
on:
  pull_request:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    name: terraform init and plan
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Azure Login
        uses: azure/login@v2.3.0 #used OIDC to login to azure
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID}}

      - name: Terraform Init
        run: |
          terraform init \
          -backend-config="resource_group_name=rg-digwi-terraform-remote" \
          -backend-config="storage_account_name=stgdigwiterraformstate" \
          -backend-config="container_name=tfstate" \
          -backend-config="key=todo-dev.tfstate"

      - name: Terraform Plan
        run: |
          terraform plan -var-file="./environments/dev/dev.tfvars" -out=tfplan
